<div class="container">
    <div class="container1">
        <div class="sleeve">
            <div class="sleeve1">Sleeve</div>
            <div class="sleeve2"> &nbsp;𝟚</div>
        </div>
        <div class="heading">The ultimate music accessory for your Mac.</div>
        <div class="content">Sleeve sits on the desktop, displaying and controlling the music you’re currently playing in 
            <!-- <i class="fa fa-apple fa-xl" style="color: #555555;"></i> -->
            <img src="/assets/images/Apple.jpeg" alt="">
             Apple Music, 
             <!-- <i class="fa fa-spotify fa-xl" style="color: #1db954;"></i> -->
             <img src="/assets/images/spotify.png" alt="">
             Spotify, and 
             <!-- <i class="fa fa-music fa-xl" style="color: #6952d0;"></i> -->
             <img src="/assets/images/doppler.png" alt="">
             Doppler.</div>
        <div class="button">
            <button class="button1"><i class="fa fa-apple fa-xl" style="color: #ffffff;"></i> &nbsp;&nbsp;Mac App Store</button>
            <button class="button2" (click) = 'makepayment(10)'>Buy Directly
                <span style="background-color: black; color: white; border-radius: 20px;padding: 5px;">$5.99</span>
            </button>
        </div>
        <div class="subcontent">No subscriptions. No in-app purchases. Requires macOS 11 Big Sur or later.</div>
        <button class="button3">  Now with shelves and a progress bar. See what's new in Sleeve 2.3 &nbsp;&nbsp;<i class="fa fa-arrow-right fa-shake"></i></button>
    </div>
    
    <div class="container2">
        <div class="tophead" style="color: #0d9eff;  font-size: 13px;">NEW IN <span style="background-color: #0d9eff; border-radius: 10px; color: white;padding: 0px 5px 0px 5px;">2.0</span></div>
        <div class="heading">Themes. Unlimited themes.</div>
        <div class="content">Themes in Sleeve make creating and switching between customizations easy. Share your own creations with friends and install as many themes as you like with just a double-click.</div>
    </div>
    <div class="container3">
        <div class="bigBox">
            <div class="img">
                <img src="/assets/images/song1.jpeg" alt="" style="padding:5px 200px 100px 20px;">
                <img src="/assets/images/song2.jpg" alt="" style="padding:90px 200px 10px 20px;">
                <img src="/assets/images/song3.jpeg" alt="" style="padding:5px 200px 100px 20px;">
                <img src="/assets/images/song4.jpg" alt="" style="padding:95px 0px 10px 20px;">
            </div>
        </div>
        <div class="smallBox">
            <div class="small" style="background-color: #eef7fd;">
                <div style=" font-family: 'Open Sans', sans-serif; ">
                    <h3 style="padding-left:20px;"> Change it up </h3>
                    <div style="font-size: 20px; padding: 0px 30px 60px 20px;">Switch between themes with just a click.
                        Modify the built-in themes or create your own using Sleeve’s extensive preferences.</div>
                </div>
                 <img src="/assets/images/click.webp" alt="" >
                </div>
            <div class="small" style=" background-color: #e0fffd;">
                <div style=" font-family: 'Open Sans', sans-serif; ">
                    <h3 style="padding-left: 20px;">Shareable</h3>
                    <div style="font-size: 20px; padding: 0px 30px 60px 20px;">Export your themes and share them with friends using the handy new Sleeve Theme file format.
                        Install themes from anywhere with a double-click or a drag and drop.</div>
                </div>
                <img src="/assets/images/save.png" alt="" >
            </div>
        </div>
    </div>
    <div class="container4">
        <div class="tophead" style="color: #783af5;font-size: 13px;">CUSTOMIZATION</div>
        <div class="heading">Countless ways to customize.</div>
        <div class="content">Customization is at the core of the Sleeve experience — choose from any combination of design choices, behaviors and settings to make Sleeve at home on your desktop.</div>
    </div>
</div>